body {
    background-image: url('/static/images_t6/shopp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#heading, #body {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(0, 0, 0, 0.368);
    color: rgb(255, 255, 255);
    position: relative;
}

.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
}


.response{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;

}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50% ;
}
.sign {
    width: 150px;
    height: 100px;
    margin: 0;
    background-color: rgba(240, 248, 255, 0.648);
}

.scase{
    width: 150px;
    height: 100px;
    margin: 0;
    scale: 1.12;

}
.end{
    text-align: center; 
    margin-top: 20px; 
    font-size: 30px;
    font-style: italic;

}

.quiz{
    display: block; 
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 25px; 
    background-color: #664536c1; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;

}

.quiz:hover {
    background-color: #6645368b; 
}
/* .message {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
} 

*/
.message {
    padding: 8px;
    border-radius: 10px;
    max-width: 70%;
    display: inline-block; 
    margin: 0.5px;

}


.mess-response{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    margin: 0.5px;

}

/* .customer, .shopkeeper {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

a {
    text-decoration: none; 
    color: inherit; 
}

