body {
    background-image: url('/static/images_t3/forest.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#heading, #body {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(0, 0, 0, 0.368);
    color: rgb(255, 255, 255);
    position: relative;
}

#fruits-basket {

    margin-left: 10px;
    margin-top: 10px;
}



#hover-image {
    position: absolute;
    display: none;
    width: 400px;
    height: 300px;
    z-index: 1;
}


#veges-basket{
    margin-left: 10px;
    margin-top: 10px;
}

#zoo{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.quiz{
    display: block; 
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 25px; 
    background-color: #51372af2; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;

}

.quiz:hover {
    background-color: #664536c5; 
}
a {
    text-decoration: none; 
    color: inherit; 
}

      