<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/game2.css') }}">
        <title>Eat</title>
    </head>
    <body>
        <div class="container">
            <center>
                <h2>Hunger Games</h2>
            </center>
        
            <center>
                <div id="image">
                    <img src="{{ url_for('video_capture') }}" width="100%">
                </div>
            </center>

            <center>
                <a href="{{ url_for('game', num=2) }}">
                    <button id="back">
                        Restart
                    </button>
                </a>
            </center>
        </div>
    </body>
</html>